vrrp_instance VI_1 {
{% if ansible_default_ipv4.address == hostvars[groups['HAPROXY_PRIMARY'][0]]['ansible_default_ipv4']['address'] %}
  state MASTER
{% endif %}
{% if ansible_default_ipv4.address == hostvars[groups['HAPROXY_SECONDARY'][0]]['ansible_default_ipv4']['address'] %}
  state BACKUP
{% endif %}
  interface {{ ansible_default_ipv4.interface }}
  virtual_router_id 101
{% if ansible_default_ipv4.address == hostvars[groups['HAPROXY_PRIMARY'][0]]['ansible_default_ipv4']['address'] %}
  priority 100
{% endif %}
{% if ansible_default_ipv4.address == hostvars[groups['HAPROXY_SECONDARY'][0]]['ansible_default_ipv4']['address'] %}
  priority 99
{% endif %}
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass {{ hostvars['env_passwords']['KEEP_AVALIVE_PASSWORD_AUTH'] }}
  }
  virtual_ipaddress {
    {{ VRRP_IP_ADDRESS }}
  }
}